@media screen and (max-width:768px) {
  .section7-voice__area {
    flex-direction: column;
  }

  .section7-voice__photo {
      width: 60%;
      padding-right: 0;
      margin: auto auto 5%;
  }
}
