.section3 {
  padding-top: 40px;
  margin-bottom: 64px;

  .section3-text {
    width: 70%;
    margin: auto;
  }

  .section3-main {
    width: 80%;
    margin: 24px auto;
  }

  p {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1.5vw;
    line-height: 2vw;
  }
}
