.section3 {
  // padding-top: 40px;
  // margin-bottom: 64px;
  margin-bottom: 8%;

  h2.section3-text {
    width: 80%;
    padding-top: 6%;
    margin: 0 auto 32px;
    font-size: 3.4vw;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    text-align: center;
    line-height: 5vw;
  }

  .section3-main {
    width: 80%;
    margin: 24px auto;
  }

  p {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1.5vw;
    line-height: 2.5vw;
  }
}

@import "responsive";
