.section4 {
  background: #F6DBD2;
  padding: 0 9% 5%;
  margin-bottom: 10%;
}

h2.section4-text {
  width: 80%;
  padding-top: 4%;
  margin: 0 auto 4%;
  font-size: 3.4vw;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  text-align: center;
  line-height: 5vw;
}

ul.section4-check__list {

  li {
    position: relative;
    margin: auto;
    margin-bottom: 2%;
    padding-left: 5%;
    font-size: 2.2vw;
    line-height: 2.2vw;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background-image: url(./image/section4/section4_check.png);
      background-size: contain;
      background-repeat: no-repeat;
      padding-top: 4%;
      width: 4%;
      top: -20%;
      left: 0;
    }
  }
}

@import "responsive";
