@media screen and (max-width:768px) {
  .section1-main__feature {
    bottom: 3.5%;
    margin: auto;
  }

  .section4 {

    padding: 0;
    h2.section4-text {
      margin: 0 auto;
    }

    ul.section4-check__list {
      padding: 5% 3%;

      li {
        padding-left: 6%;
        font-size: 3vw;
        line-height: 4vw;

        &::before {
          top: 0;
          bottom: 0;
          padding-top: 5%;
          width: 5%;
        }
      }
    }
  }
}
