.section2 {
  h2 {
    font-size: 3.4vw;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    text-align: center;
    line-height: 5vw;
  }
}

h2.section2-text {
  width: 70%;
  padding-top: 4%;
  margin: 0 auto 4%;
  font-size: 3.4vw;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  text-align: center;
  line-height: 5vw;

  span {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url(./image/section2/section2_baloon.png);
      background-size: contain;
      background-repeat: no-repeat;
      padding-bottom: 10%;
      width: 35%;
      left: -38%;
      top: -30%;
    }
  }
}

ul.section2-check__list {
  background: #EBEDE7;
  padding: 40px 9%;

  li {
    position: relative;
    margin: auto;
    margin-bottom: 2%;
    padding-left: 5%;
    font-size: 2.2vw;
    line-height: 2.2vw;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background-image: url(./image/section2/section2_check.png);
      background-size: contain;
      background-repeat: no-repeat;
      padding-top: 4%;
      width: 4%;
      top: -20%;
      left: 0;
    }
  }
}

@import "responsive";
