@media screen and (max-width:768px) {
  h2.section2-text {
    width: 80%;
    // margin: 4% auto;
  }

  ul.section2-check__list {
    background: #EBEDE7;
    padding: 8% 3%;

    li {
      padding-left: 6%;
      font-size: 3vw;
      line-height: 4vw;

      &::before {
        top: 0;
        bottom: 0;
        padding-top: 5%;
        width: 5%;
      }
    }
  }

}
