.section5 {
  margin-bottom: 64px;
}

.section5-speed {
  width: 90%;
  margin: 0 auto 16px;

  &__recomme {
    width: 80%;
    margin: 0 auto 24px;
  }

  &__merit {
    width: 90%;
    margin: 0 auto 64px;
  }
}

.section5-plan {
  width: 90%;
  margin: 0 auto 32px;

  &__choice {
    width: 90%;
    margin: auto;
  }
}
