.header{
  width: 90%;
  margin: auto;
  padding-top: 24px;

  h1 {
    width: 25%;
    margin-right: 15%;
    font-size: 2vw;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;

  &__tel {
    width: 25%;
    display: block;
    margin-left: auto;
  }

  &__link {
    width: 25%;
    margin-left: 2%;
    display: block;
    margin-left: auto;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    background-color: #fd3300;
    color: #fff;
    padding: 2%;
    border-radius: 4px;
  }
}


.header-nav {
  padding-top: 24px;
  position: fixed;
  width: 90%;
  z-index: 1;
}

ul.header-nav__list {
  display: flex;
  align-items: center;
  box-shadow: 4px 8px 15px 0px #bbb;

  li {
    width: 14.28%;
    text-align: center;
    background: #fc3000;
    border-left: 1px solid #fff;

    &:first-child {
      border-left: none;
    }

    a {
      padding: 16px 4px;
      display: block;
      color: #fff;
      font-size: 1vw;
    }
  }
}


.header-resp__sp {
  display: none;
}
@import "responsive.scss";
