@media screen and (max-width:768px) {
  .section8-faq__area {
    flex-direction: column-reverse;
    margin-bottom: 10%;
  }

  .section8-faq__img {
    width: 50%;
    padding-left: 0;
    margin: auto auto 5%;
  }
}
